@font-face {
    font-family: 'SegoeUISemiBold';
    src: url('../fonts/segoe-ui-semibold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/segoe-ui.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUIBold';
    src: url('../fonts/segoe-ui-bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dfds-bold';
    src: url('../fonts/dfds-bold.ttf');
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    background-color: RGBA(234, 237, 238, 1.00);
    margin: 0;
}

header {
    width: 100%;
    height: 3.4em;
    background: white;
    padding: 0;
}

header ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items: flex-start;
    margin: 0;
    padding-left: .8em;
}

header ul >:first-child {
    margin-right: auto;
}

.logo {
    height: 3.4em;
}

h1 {
    font-family: "dfds-bold";
    font-size: 1.5em;
    text-align: center;
    color: #005184;
}

h2 {
    font-family: "dfds-bold";
    font-size: 1.2em;
    border-bottom: solid 0.063em #005184;
    width: 100%;
    padding: .5em;
    padding-left: .8em;
    color: #005184;
    margin: 0;
}

h3 {
    font-size: 1.2em;
    font-family: "dfds-bold";
    color: #005184;
}

h4 {
    font-family: "dfds-bold";
    font-size: 1em;
    color: white;
    margin: 0;
    margin-top: 1em;
    padding: 3em;
}

.gradient {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 10.5em;
    padding: 0;
    margin: 0;
}

p {
    font-family: "SegoeUi";
    font-size: 1em;
    padding-top: .5em;
    padding-left: 1em;
    margin: 0;
    width: 100%;
    height: 10.5em;
    overflow: hidden;
}

article > div .gradient {
    position: relative;
}

article > div .gradient .fadeout {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5em;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 33%, #FFFFFF 100%);
}


/*Hulp gehad van Jelle met de gradient*/

section {
    max-width: 1460px;
    margin: 0 auto;
}

section > h1 {
    display: flex;
    flex-direction: column;
    background-image: url(../img/bloemetjes.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 13em;
    width: 100%;
    text-align: left;
    font-size: 2em;
    color: white;
    padding: 1em;
    margin: 0;
}

article {
    background: white;
    box-shadow: .04em .05em .01em .02em grey;
    margin: .7em;
    width: 50%;
    min-width: 23.6em;
    transition: all .2s ease;
    position: relative;
}

article:hover {
    transform: scale(1.01)
}

a {
    text-decoration: none;
    color: #005184;
}

h2 + div {
    display: flex;
}

time {
    position: absolute;
    right: .5em;
    font-family: "SegoeUi";
    font-size: .8em;
    color: #005184;
}

.klokkie {
    height: 1em;
    position: absolute;
    right: 2.1em;
    top: .6em;
}

footer > div {
    height: 15em;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
}

.actions {
    padding: 1em;
    font-family: "SegoeUiBold";
    color: white;
    width: 50%;
    height: 11.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sorteren {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: "SegoeUi";
    color: #005184;
    padding: 1em;
    border-top: solid 0.063em #005184;
    border-bottom: solid 0.063em #005184;
    width: 23.6em;
    margin: auto;
    border-width: 100%;
    margin-bottom: 1em;
}

a:hover {
    transition: all .2s ease-out;
    color: #F6861F
}

.activelink a {
    font-weight: 900;
    color: #F6861F;
}

section:first-child {
    display: flex;
}

svg {
    min-height: 1em;
    max-height: 1.5em;
    min-width: 2.5em;
    max-width: 3em;
}

svg path {
    transition: fill .1s ease-out;
}

svg:hover path {
    fill: #005184;
}

.login {
    height: 3.4em;
    padding: 1em;
    border-left: solid 0.063em #00253C;
}

.login:hover {
    transition: all .5s ease-in-out;
    background-color: #EAEDEE
}

.loginpage {
    display: flex;
    flex-direction: column;
    width: 22em;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    padding: 0;
}

.aanmeldform {
    font-family: "SegoeUi";
    color: #005184;
    font-size: .8em;
    padding: 1em;
    padding-left: 0;
}

form {
    margin: 0;
}

input {
    padding: 1.2em;
    border: none;
    width: 100%;
}

input:focus {
    outline: solid 2px #F69000;
}

.username:valid {
    outline: solid 2px #68BD45;
}

.loginbtn {
    background-color: #F69000;
    box-shadow: .1em .1em .1em 0em rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-family: "SegoeUi";
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    font-size: 1em;
    padding: .5em 2em;
    width: 50%;
}

legend {
    display: none;
}

.loginbtn:hover {
    transition: background .5s ease-out;
    background-color: #F6861F;
    transform: scale(1.02);
}

.wwvergeten {
    font-family: "SegoeUi";
    font-size: .7em;
    text-align: center;
}

.buttonenww {
    margin-top: 2.2em;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#zoeken {
    font-size: 1em;
    height: 3.4em;
    width: 0;
    padding: 0;
    transition: all .1s ease-in;
}

#zoeken:focus {
    width: 10em;
    outline: none;
}

.zoeken {
    display: flex;
    flex-direction: row;
    height: 3.4em;
}

.zoekicon {
    height: 3.4em;
    padding: 1em;
    border-left: solid 0.063em #00253C;
}

.loginregister {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.register {
    background-color: #F69000;
    box-shadow: .1em .1em .1em 0em rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-family: "SegoeUi";
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    font-size: 1em;
    padding: .5em 2em;
    margin-top: 2.2em;
    width: 100%;
}


/*Media queries*/

@media screen and (max-width: 43.688em) {
    .artiekelen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article {
        min-width: 23.6em;
        width: 60%;
    }
    section > h1 {
        color: #00253C;
        font-size: 1.5em;
        width: 100%;
        margin: 0;
    }
    #zoeken:focus {
        width: 6.5em;
    }
}

@media screen and (min-width: 43.689em) and (max-width: 63.125em) {
    .artiekelen {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    article {
        min-width: 23.6em;
        width: 40%;
    }
}

@media screen and (min-width: 63.127em) and (max-width: 93.750em) {
    .artiekelen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    article {
        min-width: 23.6em;
        width: 30%;
    }
}

@media screen and (min-width: 93.751em) and (max-width: 125.000em) {
    .artiekelen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
    }
    article {
        min-width: 23.6em;
        width: 25%;
    }
}

@media screen and (min-width: 125.001em) {
    .artiekelen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    article {
        min-width: 23.6em;
        width: 20%;
    }
}
