* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.4em;
    background: white;
    padding: 0;
}

header ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items: flex-start;
    margin: 0;
    padding-left: .8em;
}

header ul >:first-child {
    margin-right: auto;
}

.logo {
    height: 3.4em;
}

#search {
    border: none;
    background-color: #EAEDEE;
    padding: .5em;
}

.login {
    height: 3.4em;
    padding: 1em;
    border-left: solid 0.063em #00253C;
}

.login:hover {
    transition: all .5s ease-out;
    background-color: #EAEDEE;
}

input {
    padding: 1.2em;
    border: none;
    width: 100%;
}

#zoeken {
    font-size: 1em;
    height: 3.4em;
    width: 0;
    padding: 0;
    transition: all .1s ease-in;
}

#zoeken:focus {
    width: 10em;
    outline: none;
}

.zoeken {
    display: flex;
    flex-direction: row;
    height: 3.4em;
}

.zoekicon {
    height: 3.4em;
    padding: 1em;
    border-left: solid 0.063em #00253C;
}

@media screen and (max-width: 43.688em) {
    #zoeken:focus {
        width: 6.5em;
    }
}


/* bovenstaande styles gelden voor de header*/

body {
    background-color: #A2DED0;
    transition: all 2s ease;
    background-image: url(../img/Waan3.png)
}

body:hover {
    background-color: #A2C0D2;
}

section {
    margin-top: 5em;
}

h1 {
    font-size: 4em;
    font-family: 'Schoolbell', cursive;
    text-align: center;
}

p {
    color: black;
    font-family: 'Schoolbell', cursive;
    font-size: 1.4em;
    line-height: 1.4em;
    transition: all 0.0001s ease;
    width: 70%;
    max-width: 35em;
    margin: 1em auto;
}

p:hover {
    color: white;
}
