* {
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.4em;
    background: white;
    padding: 0;
}

header ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items: flex-start;
    margin: 0;
    padding-left: .8em;
}

header ul >:first-child {
    margin-right: auto;
}

.logo {
    height: 3.4em;
}

#search {
    border: none;
    background-color: #EAEDEE;
    padding: .5em;
}

.login {
    height: 3.4em;
    padding: 1em;
    border-left: solid 0.063em #00253C;
}

.login:hover {
    transition: all .5s ease-out;
    background-color: #EAEDEE;
}

input {
    padding: 1.2em;
    border: none;
    width: 100%;
}

#zoeken {
    font-size: 1em;
    height: 3.4em;
    width: 0;
    padding: 0;
    transition: all .1s ease-in;
}

#zoeken:focus {
    width: 10em;
    outline: none;
}

.zoeken {
    display: flex;
    flex-direction: row;
    height: 3.4em;
}

.zoekicon {
    height: 3.4em;
    padding: 1em;
    border-left: solid 0.063em #00253C;
}

@media screen and (max-width: 43.688em) {
    #zoeken:focus {
        width: 6.5em;
    }
}


/* bovenstaande styles gelden voor de header*/

body {
    background: #740207;
    animation: backgr 30s;
    -moz-animation: backgr 30s infinite;
    /* Firefox */
    -webkit-animation: backgr 30s infinite;
    /* Safari and Chrome */
}

@-moz-keyframes backgr
/* Firefox */

{
    0% {
        background: #740207;
    }
    50% {
        background: #000;
    }
    100% {
        background: #740207;
    }
}

@-webkit-keyframes backgr
/* Safari and Chrome */

{
    0% {
        background: #740207;
    }
    50% {
        background: #000;
    }
    100% {
        background: #740207;
    }
}

h1 {
    font-size: 4em;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    animation: wak 30s;
    -moz-animation: wak 30s infinite;
    /* Firefox */
    -webkit-animation: wak 30s infinite;
    /* Safari and Chrome */
}

p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.6em;
    line-height: 1.6em;
    text-align: center;
    width: 60%;
    max-width: 30em;
    margin: 1em auto;
    animation: wak 30s;
    -moz-animation: wak 30s infinite;
    /* Firefox */
    -webkit-animation: wak 30s infinite;
    /* Safari and Chrome */
}

@-moz-keyframes wak
/* Firefox */

{
    0% {
        background: #000;
    }
    50% {
        background: #fff;
    }
    100% {
        background: #000;
    }
}

@-webkit-keyframes wak
/* Safari and Chrome */

{
    0% {
        color: #000;
    }
    50% {
        color: #BE3A31;
    }
    100% {
        color: #000;
    }
}

p:hover {
    color: white;
}

.crazyeyes img {
    width: 100%;
}

.crazyeyes {
    position: fixed;
    top: 3.4em;
    animation: eyes 30s;
    -moz-animation: eyes 30s infinite;
    -webkit-animation: eyes 30s infinite;
}

@-moz-keyframes eyes
/* Firefox */

{
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes eyes
/* Safari and Chrome */

{
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: 0;
    }
}

a {
    color: crimson
}
