* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.4em;
    background: white;
    padding: 0;
}

header ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items: flex-start;
    margin: 0;
    padding-left: .8em;
}

header ul >:first-child {
    margin-right: auto;
}

.logo {
    height: 3.4em;
}

#search {
    border: none;
    background-color: #EAEDEE;
    padding: .5em;
}

.login {
    height: 3.4em;
    padding: 1em;
    border-left: solid 0.063em #00253C;
}

.login:hover {
    transition: all .5s ease-out;
    background-color: #EAEDEE;
}

input {
    padding: 1.2em;
    border: none;
    width: 100%;
}

#zoeken {
    font-size: 1em;
    height: 3.4em;
    width: 0;
    padding: 0;
    transition: all .1s ease-in;
}

#zoeken:focus {
    width: 10em;
    outline: none;
}

.zoeken {
    display: flex;
    flex-direction: row;
    height: 3.4em;
}

.zoekicon {
    height: 3.4em;
    padding: 1em;
    border-left: solid 0.063em #00253C;
}


/* bovenstaande styles gelden voor de header*/

section {
    margin-top: 5em;
    display: flex;
    align-items: baseline;
}

article {
    margin: 2em;
    min-width: 30em;
}

h1 {
    font-family: 'Lithos Pro'
}

p {
    font-family: "Lithos Pro";
    margin: auto;
    line-height: 1.4em;
}

@media screen and (max-width: 43.688em) {
    article {
        min-width: 20em;
    }
}

body {
    background-image: url(../img/Jezus/background.png);
    background-repeat: no-repeat;
    background-size: 3000px 100vh;
}

.sand {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3000px;
    height: 80%;
}

.pelgrim {
    height: 300px;
    position: fixed;
    bottom: 0;
    left: 10em;
    opacity: 50%;
}

.sonny {
    height: 400px;
    position: fixed;
    left: -5em;
    top: -10em;
}
